body {
  background-color: #ABDEE9;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: bolder;
  text-shadow: 0.5px 0.5px 0.5px black;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 85vh;
  width: 100vw;
}

.image-part{
  margin-right:2rem;
}


.right-part {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align the text and button horizontally */
  text-align: center; /* Center align the paragraph text */
}

.right-part p {
  font-size:1.8rem;
  text-shadow: 0.5px 0.5px 0.5px black;
  margin-bottom: 0px;
}

.login-button {
  width: 120px; /* Increased width for better appearance */
  height: 2.5rem;
  border-radius: 50px;
  border: none; /* Removed border */
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: orange;
  cursor: pointer; /* Added cursor pointer */
}

.login-button2{
  width: 200px; /* Increased width for better appearance */
  height: 2.5rem;
  border-radius: 50px;
  border: none; /* Removed border */
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: orange;
  cursor: pointer; /* Added cursor pointer */
}


h1, p {
  /* border: 1px solid black;
  border-radius: 1rem; */
  /* padding: 1rem;
  margin: 1rem 0; */
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  /* border: 1px solid black;
  border-radius: 1rem; */
  /* padding: 0.5rem;
  margin: 0.5rem 0; */
}


/* .privacy-part{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: orange;
  margin-bottom: 15px;
  margin-left: 20rem;
  width: 700px;
} */


.privacy-part {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: orange;
  margin-bottom: 15px;
  padding: 1rem;
  width: 80%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}